---

---
<div id="linia-separacion"></div>
<footer>
    <p>© 2010 - 2025 / Iván Carrasco</p>
    <a href="https://github.com/" target="_blank">Acceder a mi github</a>
</footer>

<style>
    #linia-separacion{
        border: 1px solid #e5e7eb;
        width: 570px;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    footer {
        display: flex;
        justify-content: space-between;
        width: 570px;
        align-items: center;
    }
    footer p, a{
        color: #334155;
        font-family: monospace;
        letter-spacing: -.025em;
        font-size: .75rem;
        line-height: 1rem;
        text-decoration: none;
    }
    @media (max-width: 550px){
        footer{
            width: 350px;
        }
        #linia-separacion{
            width: 350px;
        }
    }
</style>